<h1>Login</h1>
<% if (messages.error) {%> <%= messages.error %> <% } %>
<form action="/login" method="POST">
    <input type="email" name="email" placeholder="Email..." name="email" />
    <input
        type="password"
        name="password"
        placeholder="Password"
        name="password"
    />

    <button type="submit">Login</button>
</form>
<a href="/signup">Signup</a>
