<h1>Signup</h1>

<form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Username..." name="username" />
    <input type="email" name="email" placeholder="Email..." name="email" />
    <input type="password" name="password" placeholder="Password" name="password" />

    <button type="submit">Sign Up</button>
</form>
<a href="/login">Login</a>
