.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.footer > i {
    cursor: pointer;
}
